---
import ReducedImage from '$components/webrings/ReducedImage.tsx';
import type { Button } from '$types/button';

interface Props {
  buttons: Button[];
  folder: 'friends' | 'other';
}

const { buttons, folder } = Astro.props;

const imageButtons = buttons.filter((button) => button.image);
const noImageButtons = buttons.filter((button) => !button.image);
---

<div
  class="not-prose pixelated flex flex-wrap justify-between gap-x-5 gap-y-6 md:justify-normal md:gap-x-9"
>
  {
    imageButtons.map((button) => (
      <a href={button.url} title={button.name} target="_blank">
        <ReducedImage
          src={`/buttons/${folder}/${button.image}`}
          alt={`Webring of ${button.name}`}
          width={88}
          height={31}
          className="h-[31px] w-[88px] select-auto"
          client:load
        />
      </a>
    ))
  }
</div>

{
  noImageButtons.length > 0 && (
    <div class="not-prose flex flex-wrap gap-x-5 gap-y-6 pt-8 md:gap-x-9">
      {noImageButtons.map((button) => (
        <a href={button.url} target="_blank" class="rounded-none">
          <span class="flex h-[31px] flex-row justify-center border-2 border-ctp-mauve bg-ctp-crust px-3 text-ctp-mauve hover:bg-ctp-mauve hover:text-ctp-crust motion-safe:transition motion-safe:duration-150 motion-safe:ease-in-out dark:border-ctp-pink dark:text-ctp-pink dark:hover:bg-ctp-pink">
            {button.name}
          </span>
        </a>
      ))}
    </div>
  )
}
