---
import { type CollectionEntry } from 'astro:content';
import { Icon } from 'astro-icon/components';

import ArticleCard from '$components/blog/ArticleCard.astro';
import Layout from '$layouts/Page.astro';
import { getMinutesRead } from '$utils/helpers/article';
import { compareDates } from '$utils/helpers/date';

interface Props {
  tag?: string | number;
  articles: CollectionEntry<'articles'>[];
}

const { tag, articles } = Astro.props;

const title = tag ? `Articles tagged with #${tag}` : 'Articles';
const description = tag
  ? `${articles.length} article${articles.length > 1 ? 's' : ''} found.`
  : 'A personal blog, comprising of whatever stuff we feel like rambling about.';
---

<Layout {title} {description}>
  <header class="flex flex-col gap-3 pb-5">
    <h1 class="text-4xl font-semibold">{title}</h1>
    <p>{description}</p>
  </header>

  <div class="flex flex-col gap-5">
    {
      articles
        .filter(({ data }) => !data.draft)
        .sort((a, b) => compareDates(b.data.created, a.data.created))
        .map(async (article) => {
          const { minutesRead } = await getMinutesRead(article);

          return <ArticleCard {...article.data} id={article.id} {minutesRead} />;
        })
    }
  </div>

  {
    tag && (
      <a
        href="/articles"
        class="mt-8 flex flex-row items-center gap-2 rounded-lg border border-ctp-mauve bg-ctp-crust px-3 py-2 text-ctp-mauve hover:bg-ctp-mauve hover:text-ctp-crust motion-safe:transition motion-safe:duration-150 motion-safe:ease-in-out dark:border-ctp-pink dark:text-ctp-pink dark:hover:bg-ctp-pink"
        data-custom-icon
      >
        <Icon name="mdi:arrow-left" size={20} />
        Back to all articles
      </a>
    )
  }

  <slot />
</Layout>
